@font-face {
  font-family: 'Loubag';
  src: url('fonts/loubag-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: 'Agrandir';
  src: url('fonts/Agrandir-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Agrandir', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-image {
  width: 100%;
  max-width: 1446px;
  height: 325px;
  background-image: url('image/banniere.png');
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-image h1 {
  color: #000;
  background-color: #FAD40B;
  font-family: 'Loubag', sans-serif;
  font-size: 48px;
  width: 575px;
  height: 66px;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: auto;
  height: 50px;
  flex-shrink: 0;
  margin-top: 28px;
  margin-bottom: 7px;
}

.nav ul {
  padding: 30px;
  display: flex;
  list-style-type: none;
  gap: 200px;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.nav ul li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FAD40B;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav ul li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav a {
  color: #000;
  font-family: 'Agrandir', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  line-height: normal;
}

#nousconnaitre, #oeuvres, #expositions {
  width: 100%;
  max-width: 1446px;
  padding: 20px;
  margin: 20px 0;
}

#galerie, #artiste, #exposition1, #exposition2 {
  margin: 10px 0;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.galerie {
  display: flex;
  align-items: center;
  gap: 70px;
  margin: 40px 10%;
  margin-bottom: 40px;
  margin-top: 70px;
}

.element {
  width: 422px;
  height: 276px;
}

.galerie_desc {
  max-width: 507px;
}

.notre-galerie {
  font-family: 'Loubag', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
  margin-bottom: 26px;
}

.galerie_desc p {
  font-family: 'Agrandir', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
}

.artiste {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 10%;
}

.artiste h2 {
  color: rgb(0, 0, 0);
  font-family: 'Loubag', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 26px;
}

.artiste p {
  margin-bottom: 31px;
}

.rs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.insta {
  width: 71px;
  border-radius: 11px;
}

.be {
  width: 60px;
  margin-left: 86px;
}

.rs p {
text-align: center; 
margin: 0; 
}

.img_artiste {
  width: 467px;
  height: auto;
}

.tab1, .tab2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.oeuvres {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.alltab {
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.alltab h2,
.expo h2,
footer h2 {
  font-family: 'Loubag', sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
  margin-bottom: 26px;
}

.alltab h2,
.expo h2 {
  font-size: 36px;
}

footer h2 {
  font-size: 36px;
}

#oeuvres h2, #expositions h2 {
  font-family: 'Loubag', sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: normal;
  margin-bottom: 26px;
  font-size: 32px;
}

.alltab p {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Agrandir', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tableau img {
  width: 253px;
  padding: 5px;
  margin: 22.5px;
  margin-bottom: 30px;
   margin-bottom: 30px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.tableau img:hover {
  transform: scale(1.1);
}

.expo {
  display: flex;
  width: 80%;
  margin: 40px 10%;
  gap: 70px;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}

.exposition {
  width: 50%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.exposition1 .expo_txt {
  margin-bottom: 130px;

}

.exposition1 .expo_txt h3 {
  margin-top: 30px;
  margin-bottom: 8px;
}

.exposition1 .expo_txt h4 {
  margin-bottom: 13px;
}

.expositions2 .expo_txt h3 {
  margin-top: 30px;
  margin-bottom: 8px;
}

.expositions2 .expo_txt h4 {
  margin-bottom: 13px;
}

.exposition2 .expo_img {
  margin-bottom: 50px;
}


.expo_img {
  width: 400px;
  margin-top: 57px;
}

#artiste, #exposition1, #exposition2 {
  background-color: #fff;
  border: 2px solid #ddd;
  height: 300px;
}

footer {
  background-color: #ACCEFF;
  width: 100%;
  height: 609px;
  flex-shrink: 0;
  padding-top: 40px;
}

footer h {
margin-bottom: 30px; 
}

.carte {
  width: 286px;
  height: auto;
}

.bas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  margin: 15px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact h3 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Loubag', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 65px;
}

.gauche h3 {
  width: 326px;
  height: 19px;
  font-family: 'Loubag', sans-serif;
}

.adresse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.adresse p {
  width: 228px;
  height: 50px;
  color: #000;
  font-family: 'Agrandir', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-left: 20px;
}

.form_style {
  background-color: #FAD40B;
  border: none;
  margin: 15px;
  height: 40px;
  width: 328px;
  text-align: left;
  font-family: 'Agrandir', sans-serif;
}

.form_style,
textarea {
  text-align: left;
  padding-left: 45px;
}

.btn {
  background-color: #FAD40B;
  border: none;
  margin: 15px;
  height: 40px;
  width: 167px;
  margin-left: 180px;
  font-family: 'Agrandir', sans-serif;
}

/* version mobile */
@media all and (max-device-width: 480px) 

{

  .top-image {
    background-image: url('image-small.jpg');
  }
  .nav{
    margin-bottom: 30px;
}
  .nav ul {
      flex-direction: column;
      gap: 20px;
      padding: 10px;
  }

  .nav a {
      font-size: 18px;
  }

  .top-image {
      height: 200px;
  }

  .top-image h1 {
      font-size: 32px;
      width: auto;
      height: auto;
      padding: 10px;
  }

  .galerie {
      flex-direction: column;
      gap: 20px;
  }

  .element {
      width: 100%;
      max-width: 400px;
      margin-bottom: 10px;
  }

  .artiste {
      flex-direction: column;
  }

  .img_artiste {
      width: 360px;
      height: 258.925px;
      max-width: 400px;
      margin-top: 0px;
  }

  .rs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin-top: 20px;
}
.be {
  display: block;
  margin: 0 auto; 
  width: 44px;
  height: 37px;
}

.insta{
  width: 54px;
  height: 52px;
}


  .oeuvres .tableau img {
      width: 241.623px;
      max-width: 200px;
  }

  .expo {
      flex-direction: column;
      gap: 30px;
  }

  .expo_img {
      width: 397.293px;
      height: 161px;
      max-width: 300px;
  }
  .exposition2 .expo_img {
    margin-top: 10px;
    width: 365px;
    height: 278px;
  }
  .exposition1 .expo_txt {
    margin-top: 43px;
    margin-bottom: 0px;
  }
  .exposition1 .expo_img {
    width: 365px;
    height: 278px;
    
  }

  footer {
      text-align: center;
      padding: 20px;
      min-height: 900px; 
  }

  .gauche h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.carte{
  width: 326px;
  margin-top: 10px;
} 

.adresse {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  margin-top: 20px;
  margin-bottom: 10px;
}

.adresse p {
  text-align: center;
}


  .contact {
      flex-direction: column;
  }

  .form_style {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
  }

  .form_group {
    margin-bottom: 28px; 
}


  .btn {
      width: 100%;
      max-width: 200px;
      margin: 20px auto;
  }

  .bas {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    text-align: center;
}
}

@media screen and (max-width: 768px) {
    .top-image {
    background-image: url('image-small.jpg');
  }
  
    .top-image h1 {
        font-size: 32px;
        width: auto;
        height: auto;
        padding: 10px;
}

    .nav{
        margin-bottom: 30px;
}
    .nav ul {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
}

    .nav a {
        font-size: 18px;
}

    .galerie {
        flex-direction: column;
        gap: 20px;
}

    .element {
        width: 100%;
        max-width: 400px;
}

    .artiste {
        flex-direction: column-reverse;
}

    .img_artiste {
        width: 100%;
        max-width: 400px;
        margin-top: 0px;
}

    .rs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin-top: 20px;
}

    .be {
    display: block;
    margin: 0 auto; 
}

    .oeuvres .tableau img {
    width: 100%;
    max-width: 200px;
} 

    .expo {
      flex-direction: column;
      gap: 30px;
 }

    .expo_img {
      width: 397.293px;
      height: 161px;
      max-width: 300px;
}

.exposition1 .expo_txt {
  margin-bottom: 0px;
}

  footer {
    text-align: center;
    height: auto;
    padding: 20px;
}

    .gauche h3 {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
}

    .carte{
      margin-top: 10px;
    }

    .adresse {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        margin-top: 20px;
        margin-bottom: 10px;
}

    .adresse p {
        text-align: center;
}

    .contact {
        flex-direction: column;
}
    
    .gauche h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

    .gauche, .droite {
        width: 100%;
 }

    .form_style, .btn {
        width: 100%;
        max-width: 328px;
        margin: 0% auto;
}

    .form_group {
        margin-bottom: 28px; 
 }

 .btn {
        width: 100% ;
        max-width: 200px;
        margin: 20px auto;
    }

 .bas {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 10px; 
        text-align: center;
    }
}
